.titlebar {
  display: flex;
  align-items: stretch;
  height: 2rem;
  background-color: var(--mantine-color-body);
  user-select: none;
  position: sticky;
  top: 0;
  z-index: 50;
  -webkit-app-region: drag;
} 