.actionIcon {
  position: relative;
  transition: all 0.2s ease;
}

.icon {
  transition: all 0.2s ease;
}

.light {
  transform: scale(1) rotate(0deg);
}

.dark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(90deg);
}

[data-mantine-color-scheme="dark"] .light {
  transform: scale(0) rotate(-90deg);
}

[data-mantine-color-scheme="dark"] .dark {
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
} 